.autocomplete {
  position: absolute;
  top: 100%;
  transform: translateY(-3px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: white;
  max-height: 350px;
  overflow-y: auto;
  left: 1px;
  right: 1px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  .item {
    display: flex;
    width: 100%;
    align-items: center;
    padding: .5rem;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      background-color: blue;
      color: white;
    }
  }
}